numpy
scipy
pyqt5 # should be able to use any standard Qt bindings. PyQt5 used for most development and testing
qtpy
pyqtgraph
matplotlib # replaced with pyqtgraph but pyqtgraph allows exporting to matplotlib, may remove that from right-click menu at some point
engineering_notation
requests
pandas
pathvalidate
pyyaml
pyaudio # requires apt install portaudio19-dev on linux