numpy
scipy
pyqtgraph
matplotlib # replaced with pyqtgraph but pyqtgraph allows exporting to matplotlib, may remove that from right-click menu at some point
engineering_notation
pyqt5 # used by qt_collapsible_section and Spyder
qtpy # could update qt_collapsible_section to import qtpy and update base QT to pyside6, etc.
requests
pandas
pathvalidate
pyyaml